<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 
        bg-gradient-dark" id="sidenav-main">

    <app-sidenav></app-sidenav>

</aside>







<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <app-nav></app-nav>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-md-12">

                        <div *ngIf="currentAccountGetall" class="col-md-1 mt-3" style=" float: left;">
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="Aktif" [(ngModel)]='active'
                                    (change)="activeCheck()">
                                <label class="form-check-label mb-0 ms-2" for="Aktif">
                                    Aktif
                                </label>
                            </div>
                        </div>

                        <div *ngIf="currentAccountGetall" class="col-md-1 mt-3" style=" float: left;">
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="Pasif" [(ngModel)]='passive'
                                    (change)="passiveCheck()">
                                <label class="form-check-label mb-0 ms-2" for="Pasif">
                                    Pasif
                                </label>
                            </div>
                        </div>

                        <div *ngIf="currentAccountGetall" class="col-md-3 mt-2" style=" float: left;">
                            <div class="input-group input-group-outline">
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)"
                                    style="border-style: solid; border-color: red; border-width: 2px;"
                                    [(ngModel)]='searchText' placeholder="Arama ifadesi giriniz">
                            </div>
                        </div>


                        <div class="col-md-6" style=" float: right;">

                            <button *ngIf="currentAccountGetall" type="button"
                                class="btn btn-lg bg-gradient-danger mx-2" (click)="exportToExcel()"
                                style=" float: right;">
                                <i class="fa-solid fa-download" style="font-size: 15px; margin-right: 5px;"></i>
                                Cari Listesini Excel'e Aktar
                            </button>

                            <button *ngIf="currentAccountAdd" type="button" class="btn btn-lg bg-gradient-success mx-2"
                                style=" float: right;" data-bs-toggle="modal"
                                data-bs-target="#addFromExcelCurrencyAccountModal">
                                <i class="fa-solid fa-file-excel" style="font-size: 15px; margin-right: 5px;"></i>
                                Cari Ekle (Excel)
                            </button>

                            <button *ngIf="currentAccountAdd" type="button" class="btn btn-lg bg-gradient-info mx-2"
                                style=" float: right;" data-bs-toggle="modal" data-bs-target="#addCurrencyAccountModal">
                                <i class="fa-solid fa-user-plus" style="font-size: 14px; margin-right: 5px;"></i>
                                Cari Ekle
                            </button>
                        </div>
                    </div>

                </div>

                <div *ngIf="currentAccountGetall" class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">{{currentListText}}</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="currencyAccountTable" class="table align-items-center mb-0">

                                <thead>
                                    <tr>
                                        <th class=" text-secondary text-xs font-weight-bolder opacity-7">
                                            Cari Adı / Cari Kodu / Cari Adresi
                                        </th>
                                        <th class=" text-secondary text-xs font-weight-bolder opacity-7">
                                            Vergi Dairesi - Numarası / T.C.K.N
                                        </th>
                                        <th class="text-secondary text-xs font-weight-bolder opacity-7 px-5">
                                            Mail Adresi
                                        </th>
                                        <th class=" text-secondary text-xs font-weight-bolder opacity-7 px-5">
                                            Yetkili Kişi
                                        </th>
                                        <th class=" text-secondary text-xs font-weight-bolder opacity-7">
                                            Kayıt Tarihi / Durumu
                                        </th>
                                        <th *ngIf="!(!currentAccountDelete && !currentAccountUpdate)"
                                            class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            İşlemler
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let currentAccount of currentAccounts | currentAccountSearchPipe : searchText 
                                    | currentAccountActivePassivePipe : activePassiveStatus()">

                                        <td>
                                            <div class="px-2 py-1">
                                                <h6 class="mb-0 text-m text-uppercase">
                                                    {{currentAccount.name}}
                                                </h6>
                                                <p class="text-xm text-secondary mb-0">
                                                    {{currentAccount.code}}
                                                </p>
                                                <p class="text-xm text-secondary mb-0">
                                                    {{currentAccount.address}}
                                                </p>
                                            </div>
                                        </td>

                                        <td class="text-center">
                                            <h6 class="mb-0 text-m text-uppercase">
                                                {{currentAccount.taxDepartment}}
                                            </h6>
                                            <p class="text-xm text-secondary mb-0">
                                                {{currentAccount.taxIdNumber}}
                                            </p>
                                            <p class="text-xm text-secondary mb-0">
                                                {{currentAccount.identityNumber}}
                                            </p>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-s">
                                                {{currentAccount.email}}
                                            </h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-s">
                                                {{currentAccount.authorized}}
                                            </h6>
                                        </td>
                                        <td class="text-center">
                                            <h6 class="mb-0 text-s">
                                                {{currentAccount.addedAt | date : 'short'}}
                                            </h6>
                                            <span *ngIf='currentAccount.isActive'
                                                class="badge badge-sm bg-gradient-success">Aktif</span>
                                            <span *ngIf='currentAccount.isActive == false'
                                                class="badge badge-sm bg-gradient-danger">Pasif</span>
                                        </td>
                                        <td *ngIf="!(!currentAccountDelete && !currentAccountUpdate)"
                                            class="align-middle">
                                            <div class="row justify-content-center mx-2">
                                                <button *ngIf="currentAccountUpdate" type="button"
                                                    class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#updateCurrencyAccountModal"
                                                    (click)="getById(currentAccount.id)">
                                                    Güncelle
                                                </button>
                                            </div>
                                            <div class="row justify-content-center mx-2">
                                                <button *ngIf="currentAccountDelete" class="btn btn-sm btn-danger"
                                                    (confirm)="delete(currentAccount)" [swal]="deleteCurrencyAccount">
                                                    Sil
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <p *ngIf="!currentAccountGetall"
                    class="alert alert-danger rounded-pill w-50 text-center mx-auto mt-5 text-white text-bold"
                    role="alert" style="font-size: 18px;">Listeyi görüntülemeye yetkiniz yok.
                </p>

            </div>
        </div>

    </div>

</main>

<swal type="question" #deleteCurrencyAccount title="Sil" text="Cari hesabı silmek istiyor musunuz?"
    [showCancelButton]="true" confirmButtonText="Evet" cancelButtonText="Hayır" confirmButtonColor="#ff0000"
    cancelButtonColor="#00ff00" [focusCancel]="true">
</swal>

<!-- cari add -->
<div class="modal fade" id="addCurrencyAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cari Hesap Ekle</h5>
            </div>
            <div class="modal-body">

                <form role="form" class="text-start" [formGroup]="addCurrencyAccountForm">

                    <div class="row">
                        <div class="col-md-6">
                            <div class='input-group input-group-outline my-3'>
                                <!-- <label class="form-label">Cari Adı</label> -->
                                <input type="text" formControlName='name' placeholder="Cari Adı" class="form-control"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='input-group input-group-outline my-3'>
                                <!-- <label class="form-label">Cari Kodu</label> -->
                                <input type="text" formControlName='code' class="form-control" placeholder="Cari Kodu"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Cari Adresi</label> -->
                        <input type="text" formControlName='address' class="form-control" placeholder="Cari Adresi"
                            autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Vergi Dairesi</label> -->
                        <input type="text" formControlName='taxDepartment' class="form-control"
                            placeholder="Vergi Dairesi" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Vergi Numarası</label> -->
                        <input type="text" formControlName='taxIdNumber' class="form-control" minlength="10"
                            placeholder="Vergi Numarası" maxlength="10" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">T.C.K.N</label> -->
                        <input type="text" formControlName='identityNumber' class="form-control" minlength="11"
                            maxlength="11" placeholder="T.C.K.N" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Mail Adresi</label> -->
                        <input type="email" formControlName='email' class="form-control" placeholder="Mail Adresi"
                            autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Yetkili Adı Soyadı</label> -->
                        <input type="text" formControlName='authorized' class="form-control"
                            placeholder="Yetkili Adı Soyadı" autocomplete="off">
                    </div>

                    <div class="form-check form-check-info text-start ps-0">

                        <div class="row">

                            <div class="col-md-3" style="color: black;">Durumu:</div>

                            <div class="col-md-3">
                                <span class="text-success mx-1">Aktif</span>
                                <input class="form-check-input" type="checkbox" [(ngModel)]='checkboxTrue'
                                    [ngModelOptions]="{standalone: true}" (change)="trueCheckbox()">
                            </div>

                            <div class="col-md-3">
                                <span class="text-danger mx-1">Pasif</span>
                                <input class="form-check-input" type="checkbox" [(ngModel)]='checkboxFalse'
                                    [ngModelOptions]="{standalone: true}" (change)="falseCheckbox()">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-primary" (click)="add()">Gönder</button>
            </div>
        </div>
    </div>
</div>
<!-- cari add -->

<!-- cari excel add -->
<div class="modal fade" id="addFromExcelCurrencyAccountModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excel'den Cari Hesap Ekle</h5>
            </div>
            <div class="modal-body">

                <div class="input-group input-group-outline mb-3">



                    <input type="file" (change)="fileChange($event)" accept=".xlsx">

                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-primary" (click)="addFromExcel()">Yükle</button>
            </div>
        </div>
    </div>
</div>
<!-- cari excel add -->

<!-- cari update -->
<div class="modal fade" id="updateCurrencyAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cari Hesabı Güncelle</h5>
            </div>
            <div class="modal-body">

                <form role="form" class="text-start" [formGroup]="currentAccountUpdateForm">

                    <div class="row">
                        <div class="col-md-6">
                            <div class='input-group input-group-outline my-3'>
                                <input type="text" formControlName='name' placeholder="Cari Adı" class="form-control"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='input-group input-group-outline my-3'>
                                <input type="text" formControlName='code' class="form-control" placeholder="Cari Kodu"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Cari Adresi</label> -->
                        <input type="text" formControlName='address' class="form-control" placeholder="Cari Adresi"
                            autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Vergi Dairesi</label> -->
                        <input type="text" formControlName='taxDepartment' class="form-control"
                            placeholder="Vergi Dairesi" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Vergi Numarası</label> -->
                        <input type="text" formControlName='taxIdNumber' class="form-control" minlength="10"
                            placeholder="Vergi Numarası" maxlength="10" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">T.C.K.N</label> -->
                        <input type="text" formControlName='identityNumber' class="form-control" minlength="11"
                            maxlength="11" placeholder="T.C.K.N" autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Mail Adresi</label> -->
                        <input type="email" formControlName='email' class="form-control" placeholder="Mail Adresi"
                            autocomplete="off">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <!-- <label class="form-label">Yetkili Adı Soyadı</label> -->
                        <input type="text" formControlName='authorized' class="form-control"
                            placeholder="Yetkili Adı Soyadı" autocomplete="off">
                    </div>

                    <div class="form-check form-check-info text-start ps-0">

                        <div class="row">

                            <div class="col-md-3">Durumu</div>

                            <div class="col-md-3">
                                <label class="form-check-label mx-1" for="checkboxTrue">Aktif</label>
                                <input class="form-check-input" type="checkbox" value="" id="checkboxTrue"
                                    [(ngModel)]='checkboxUpdateTrue' [ngModelOptions]="{standalone: true}"
                                    (change)="trueCheckboxUpdate()">
                            </div>

                            <div class="col-md-3">
                                <label class="form-check-label mx-1" for="checkboxTrue">Pasif</label>
                                <input class="form-check-input" type="checkbox" value="" id="checkboxFalse"
                                    [(ngModel)]='checkboxUpdateFalse' [ngModelOptions]="{standalone: true}"
                                    (change)="falseCheckboxUpdate()">
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" (click)="update()">Gönder</button>
            </div>
        </div>
    </div>
</div>
<!-- cari update -->