<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 
        bg-gradient-dark" id="sidenav-main">
    <app-sidenav></app-sidenav>
</aside>







<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <app-nav></app-nav>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-md-12">

                        <div *ngIf="userGetAll" class="col-md-1 mt-3" style=" float: left;">
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="Aktif" [(ngModel)]='active'
                                    (change)="activeCheck()">
                                <label class="form-check-label mb-0 ms-2" for="Aktif">
                                    Aktif
                                </label>
                            </div>
                        </div>

                        <div *ngIf="userGetAll" class="col-md-1 mt-3" style=" float: left;">
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="Pasif" [(ngModel)]='passive'
                                    (change)="passiveCheck()">
                                <label class="form-check-label mb-0 ms-2" for="Pasif">
                                    Pasif
                                </label>
                            </div>
                        </div>

                        <div *ngIf="userGetAll" class="col-md-3 mt-2" style=" float: left;">
                            <div class="input-group input-group-outline">
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)"
                                    style="border-style: solid; border-color: red; border-width: 2px;"
                                    [(ngModel)]='searchText' placeholder="Arama ifadesi giriniz">
                            </div>
                        </div>


                        <div class="col-md-6" style=" float: right;">

                            <button *ngIf="userGetAll" type="button" class="btn btn-lg bg-gradient-success mx-2"
                                (click)="exportToExcel()" style=" float: right;">
                                <i class="fa-solid fa-download" style="font-size: 15px; margin-right: 5px;"></i>
                                Kullanıcı Listesini Excel'e Aktar
                            </button>

                            <button *ngIf="userAdd" type="button" class="btn btn-lg bg-gradient-secondary mx-2"
                                style=" float: right;" data-bs-toggle="modal" data-bs-target="#userAddModal">
                                <i class="fa-solid fa-user-plus" style="font-size: 14px; margin-right: 5px;"></i>
                                Kullanıcı Ekle
                            </button>
                        </div>
                    </div>

                </div>

                <div *ngIf="userGetAll" class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">{{currentListText}} - {{companyName}}</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="currencyAccountTable" class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Kullanıcı Adı
                                        </th>
                                        <th
                                            class="text-center text-secondary text-xs font-weight-bolder opacity-7 px-5">
                                            Mail Adresi
                                        </th>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Kayıt Tarihi
                                        </th>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Durumu
                                        </th>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Mail Onayı
                                        </th>
                                        <th *ngIf="!(!userDelete && !userUpdate)"
                                            class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            İşlemler
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let user of users | userSearchPipe : searchText
                                     | currentAccountActivePassivePipe : activePassiveStatus()">

                                        <td>
                                            <div class="px-2 py-1 text-center">
                                                <h6 class="mb-0 text-m text-uppercase">
                                                    {{user.name}}
                                                </h6>
                                            </div>
                                        </td>

                                        <td>
                                            <h6 class="mb-0 text-s text-center">
                                                {{user.email}}
                                            </h6>
                                        </td>

                                        <td class="text-center">
                                            <h6 class="mb-0 text-s">
                                                {{user.userAddedAt | date : 'short' }}
                                            </h6>
                                        </td>

                                        <td class="text-center">
                                            <span *ngIf='user.userIsActive'
                                                class="badge badge-sm bg-gradient-success">Aktif</span>
                                            <span *ngIf='user.userIsActive == false'
                                                class="badge badge-sm bg-gradient-danger">Pasif</span>
                                        </td>

                                        <td class="text-center">
                                            <span *ngIf='user.mailConfirm'
                                                class="badge badge-sm bg-gradient-success">Onaylandı</span>
                                            <span *ngIf='user.mailConfirm == false'
                                                class="badge badge-sm bg-gradient-danger">Onaylanmadı</span>
                                        </td>

                                        <td *ngIf="!(!userDelete && !userUpdate)" class="align-middle">

                                            <div class="row justify-content-center mx-2">
                                                <button type="button" class="btn btn-primary btn-sm w-50 my-auto"
                                                routerLink="/userOperationClaim/{{user.userMailValue}}">
                                                    Yetkiler
                                                </button>
                                            </div>

                                            <div class="row justify-content-center mx-2">
                                                <button *ngIf="userUpdate" type="button"
                                                    class="btn btn-info btn-sm w-50 my-auto mt-2" data-bs-toggle="modal"
                                                    data-bs-target="#userUpdateModal" (click)="getById(user.userId)">
                                                    Güncelle
                                                </button>
                                            </div>

                                            <div class="row justify-content-center mx-2">
                                                <button *ngIf="userDelete"
                                                    class="btn btn-sm btn-danger w-50 my-auto mt-2"
                                                    (confirm)="delete(user)" [swal]="deleteCurrencyAccount">
                                                    Sil
                                                </button>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <p *ngIf="!userGetAll"
                    class="alert alert-danger rounded-pill w-50 text-center mx-auto mt-5 text-white text-bold"
                    role="alert" style="font-size: 18px;">Listeyi görüntülemeye yetkiniz yok.
                </p>

            </div>
        </div>

    </div>

</main>

<swal type="question" #deleteCurrencyAccount title="Sil" text="Kullanıcıyı silmek istiyor musunuz?"
    [showCancelButton]="true" confirmButtonText="Evet" cancelButtonText="Hayır" confirmButtonColor="#ff0000"
    cancelButtonColor="#00ff00" [focusCancel]="true">
</swal>



<!-- user add -->
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Kullanıcı Ekle</h5>
            </div>
            <div class="modal-body">

                <form role="form" class="text-start" [formGroup]="addUserForm">

                    <h4 class="font-weight-bolder text-center mb-3">Kullanıcı Bilgileri</h4>

                    <div class="input-group input-group-outline mb-2">
                        <input type="text" minlength="3" formControlName='name' class="form-control"
                            placeholder="Ad Soyad">
                    </div>

                    <div class="input-group input-group-outline mb-2">
                        <input type="email" formControlName='email' class="form-control" placeholder="E-mail">
                    </div>

                    <div class="input-group input-group-outline mb-4">
                        <input type="password" minlength="3" formControlName='password' class="form-control"
                            placeholder="Şifre">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-primary" (click)="register()">Gönder</button>
            </div>
        </div>
    </div>
</div>
<!-- user add -->

<!-- user update -->
<div class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcıyı Güncelle</h5>
            </div>
            <div class="modal-body">

                <form role="form" class="text-start" [formGroup]="updateUserForm">

                    <div class="input-group input-group-outline mb-2">
                        <input type="text" minlength="3" formControlName='name' class="form-control"
                            placeholder="Ad Soyad">
                    </div>

                    <div class="input-group input-group-outline mb-2">
                        <input type="email" formControlName='email' class="form-control" placeholder="E-mail">
                    </div>

                    <div class="input-group input-group-outline mb-4">
                        <input type="password" minlength="3" formControlName='password' class="form-control"
                            placeholder="Şifre">
                    </div>

                    <div class="form-check form-check-info text-start ps-0">

                        <div class="row">

                            <div class="col-md-3">Durumu</div>

                            <div class="col-md-3">
                                <label class="form-check-label mx-1" for="checkboxTrue2">Aktif</label>
                                <input class="form-check-input" type="checkbox" value="" id="checkboxTrue2"
                                    [(ngModel)]='checkboxUpdateTrue' [ngModelOptions]="{standalone: true}"
                                    (change)="trueCheckboxUpdate()">
                            </div>

                            <div class="col-md-3">
                                <label class="form-check-label mx-1" for="checkboxTrue2">Pasif</label>
                                <input class="form-check-input" type="checkbox" value="" id="checkboxFalse2"
                                    [(ngModel)]='checkboxUpdateFalse' [ngModelOptions]="{standalone: true}"
                                    (change)="falseCheckboxUpdate()">
                            </div>
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-primary" (click)="update()">Gönder</button>
            </div>
        </div>
    </div>
</div>
<!-- user update -->