<aside [class]='sidebarModeClass()' id="sidenav-main">
    <app-sidenav></app-sidenav>
</aside>







<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <app-nav></app-nav>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div *ngIf="userGetAll" class="col-md-3 mb-3" style=" float: left;">
                        <div class="input-group input-group-outline">
                            <input type="text" class="form-control"
                                style="border-style: solid; border-color: red; border-width: 2px;"
                                [(ngModel)]='searchText' placeholder="Arama ifadesi giriniz">
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>


                <div *ngIf="userGetAll" class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">{{currentListText}}</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="currencyAccountTable" class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Yetki Kodu
                                        </th>
                                        <th class="text-center text-secondary text-xs font-weight-bolder opacity-7">
                                            Yetki Açıklaması
                                        </th>
                                        <th
                                            class="text-center text-secondary text-xs font-weight-bolder opacity-7 px-5">
                                            Kulanıcının Sahip Olduğu Yetkiler
                                        </th>
                                        <th
                                            class="text-center text-secondary text-xs font-weight-bolder opacity-7 px-5">
                                            İşlemler
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let allOperationClaim of allOperationClaims | operationClaimPipe : searchText">


                                        <td>
                                            <div class="px-2 py-1 text-center">
                                                <h6 class="mb-0 text-m">
                                                    {{allOperationClaim.name}}
                                                </h6>
                                            </div>
                                        </td>

                                        <td>
                                            <h6 class="mb-0 text-s text-center text-capitalize">
                                                {{allOperationClaim.description}}
                                            </h6>
                                        </td>

                                        <td *ngIf="claimCheck(allOperationClaim.name)" class="text-center">
                                            <div class="badge bg-success">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                        </td>

                                        <td *ngIf="!claimCheck(allOperationClaim.name)" class="text-center">
                                            <div class="badge bg-danger">
                                                <i class="fa-solid fa-xmark"></i>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="row justify-content-center mx-2">
                                                <button class="btn btn-md btn-primary w-75 my-auto mt-2"
                                                (click)="statusChange(allOperationClaim.id)">
                                                    Durumu Değiştir
                                                </button>
                                            </div>
                                        </td>


                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <p *ngIf="!userGetAll"
                    class="alert alert-danger rounded-pill w-50 text-center mx-auto mt-5 text-white text-bold"
                    role="alert" style="font-size: 18px;">Listeyi görüntülemeye yetkiniz yok.
                </p>

            </div>
        </div>

    </div>

</main>